################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WindowsFormsApp3/obj/Debug
/bin/*
/obj/*